*.pyc
*~
doc/*.html
doc/*-imports
tmp/

test/*-imports
test/*.html
test/*.log
test/simple.aux
test/simple.docbook
/test/*.out
/test/*.pdf
/test/simple.tex
/test/simple.toc
test/headers/*.html
test/embed/*.html
test/embed/*-imports
test/errors/*.html

/build
/dist
thot.egg-info


